<section class="posts section">
	<div class="container">
		<div class="row">
			<!-- /section title -->
			<!-- single blog post -->
			<article class="col-sm-12 col-lg-4 col-md-6  ">
				<div class="post-item">
					<a href="stock50.html">

						<div class="media-wrapper">

							<img loading="lazy" src="images/blog/post-1.jpg" alt="amazing caves coverimage"
								class="img-fluid">
						</div>

						<div class="content">
							<h3>Types of Dividends</h3>
							<p>Types of dividends include cash dividends, stock dividends, property dividends, and
								special dividends.</p>

							<p class="r-more mt-" id="read-more" style="color: blue;text-decoration: underline;">Read
								more</p>

							<!-- <a class="btn btn-main" href="single-post.html">Read more</a> -->
						</div>
					</a>
				</div>
			</article>
			<!-- /single blog post -->

			<!-- single blog post -->


			<article class="col-sm-12 col-lg-4 col-md-6  ">
				<div class="post-item">
					<a href="stock59.html">
						<div class="media-wrapper">
							<img loading="lazy" src="images/blog/post-1.jpg" alt="amazing caves coverimage"
								class="img-fluid">
						</div>

						<div class="content">
							<h3>Managing Emotions</h3>
							<p>Managing emotions involves maintaining discipline and avoiding impulsive decisions in
								trading.</p>
							<p class="r-more mt-" id="read-more" style="color: blue;text-decoration: underline;">Read
								more</p>

							<!-- <a class="btn btn-main" href="single-post.html">Read more</a> -->
						</div>
					</a>
				</div>

			</article>

			<article class="col-lg-4 col-md-6">
				<div class="post-item">
					<a href="stock56.html">

						<div class="media-wrapper">

							<img loading="lazy" src="images/blog/post-2.jpg" alt="amazing caves coverimage"
								class="img-fluid">
						</div>

						<div class="content">
							<h3>Major Currency Pairs</h3>
							<p>Major currency pairs include EUR/USD, USD/JPY, and GBP/USD.</p>
							<!-- <a class="btn btn-main" href="single-post.html">Read more</a> -->

							<p class="r-more mt-4" id="read-more" style="color: blue;text-decoration: underline;">Read
								more</p>
						</div>
					</a>

				</div>
			</article>
			<!-- end single blog post -->


		</div>
	</div>
</section>