<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-5 col-md-6 mb-5 mb-lg-0">
          <h3>about</h3>
          <p>Integer posuere erat a ante venenati dapibus posuere velit aliquet. Fusce dapibus, tellus cursus commodo,
            tortor mauris sed posuere.</p>
        </div>
        <!-- End of .col-sm-3 -->

        <!-- End of .col-sm-3 -->

        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <ul>
            <li>
              <h3>Our Services</h3>
            </li>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About us</a></li>
            <li><a href="index.html">Resourses</a></li>
            <li><a href="index.html">Community</a></li>
            <li><a href="index.html">Strategies</a></li>
            <li><a href="contact.html">Contact us</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-lg-4 col-md-6">
          <ul>
            <li>
              <h3>Connect with us Socially</h3>
            </li>
            <li><a href="https://www.youtube.com/channel/UCx9qVW8VF0LmTi4OF2F8YdA">Youtube</a></li>
            <li><a href="https://www.twitter.com/themefisher/">Instagram</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>Breakout Zone</h5>
    <h5>&copy; Copyright 2024. All rights reserved.</h5>
  </div>
</footer> <!-- end footer -->


<!-- end Footer Area
========================================== -->