<!--
Start About Section
==================================== -->
<section class="service-2 section">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-6">
        <!-- section title -->
        <div class="title text-center">
          <h2>What Do We Offer</h2>
          <p>Explore our range of resources including market insights, breakout stock picks, community forums, and
            proven trading strategies. Join us to enhance your trading knowledge and connect with fellow traders.</p>
          <div class="border"></div>
        </div>
        <!-- /section title -->
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 text-center d-none d-md-block">
        <img loading="lazy" src="images/about/member.jpg" class="img-fluid inline-block" alt="">
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="fa-solid fa-blog"></i>
              <h4>Trading Blogs</h4>
              <p>Stay updated with the latest market insights, news, and expert analysis. Gain knowledge to make
                informed trading decisions.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="fa-solid fa-chess-knight"></i>
              <!-- <i class="fa-solid fa-bullseye"></i> -->
              <h4>Strategies</h4>
              <p>Explore proven trading strategies to enhance your trading success. Improve your skills with detailed,
                step-by-step guides.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="fa-solid fa-user-tie"></i>
              <h4>BreakoutZone Community</h4>
              <p>Get access to top breakout stocks selected by our experienced admin. Stay ahead with timely stock
                alerts.</p>
            </div>
          </div><!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="fa-solid fa-users"></i>
              <h4>Breakout Traders Community</h4>
              <p>Connect with fellow traders to share strategies and market insights. Collaborate and learn in an
                interactive community.</p>
            </div>
          </div><!-- END COL -->
        </div>
      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End section -->